@import url(./vars.less);
@import url(./icons.less);
.vp-doc img[data-fancybox='gallery'],
.VPDoc img[data-fancybox='gallery'],
main img[data-fancybox='gallery'] {
  display: block;
  width: auto;
  max-width: 680px;
  max-height: 75vh;
  height: auto;
  margin: 1.5rem auto;
  border-radius: 8px;
}